body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-image: url('Screenshot 2025-04-13 123724.png');
    color: white;
}

div{
    margin-bottom: 20px;
}